* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f6f8fc;
}

section.content {
    width: 100vw;
    min-height: 100vh;
    padding: 1rem;
    background-color: #fff;
}

.content h1 {
    margin-bottom: 1rem;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 922px;
        margin: 1rem auto;
        height: auto;
        border-radius: 1rem;
    }

    .pokemon-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
     }
}